
<!Doctype html>
<html>
<head>
        <link rel="stylesheet" type="text/css" href="style.css">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
        <script src="customer.js"></script>
       
</head>
    
    <body ng-app="customer-app" ng-controller="customerController" data-ng-init="init()" >
        <h1 class="topic">AngularJS CRUD Application</h1>
    <a href="#/login">update</a>
    <div ui-view></div>

        <div class="custForm" >
            <h1>Customers</h1>
            <form name="myForm"  #myForm="ngForm"  >
              
                <input class="textInput" type="text" name="cname" required  ng-model="customer.cname" placeholder="Customer Name"/>
                <input class="textInput" type="text" name="nic" required  ng-model="customer.nic" placeholder="NIC"/>
                <button class ="submit" ng-click="add()" >Add</button>
                <button class = "submit" ng-click="add()" >Update</button>
                <button  class="submit" ng-click = "reset()">Reset</button>
            </form>   
         </div>
        <div >   
           <input class ="searchbox" type= "text"   ng-model="search.cname" placeholder="Search by name"/>
            <table  class="customerTable">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>NIC</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cust in customers | filter:search" ng-click="rowclick(cust)" > 
                        <td>{{cust.cname}}</td>
                        <td>{{cust.nic}}</td>
                        <td><button ng-click="delete(cust)" class="delete">X</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body> 
    

       


</html>


  